<!DOCTYPE html>
<html>

<head>
  <title>Express Lambda</title>
  <meta content="{{csrfToken}}" name="csrf-token" />
</head>

<body>
  {{{body}}}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    //FIXME hack to deal with api gateway contexts by not using custom domains
    function toAbsoluteURL(url) {
      var path = window.location.pathname;
      var lastChar = path.substr(-1);
      if (lastChar != '/') {
        path = path + '/';
      }
      if (url.charAt(0) == '/') {
        url = url.substr(1);
      }
      return path + url;
    }

    // Dynamically loads the script
    jQuery.ajax({
      url: toAbsoluteURL('static/js/main.js'),
      dataType: 'script',
      cache: true,
      async: true
    });
  </script>
</body>

</html>
