<!DOCTYPE html>
<html>

<head>
  <title>Express Lambda</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <meta content="{{csrfToken}}" name="csrf-token" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>

<body>
  {{{body}}}
  <script src='./static/js/{{assets.main.js}}'></script>
</body>

</html>
